<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
			<%= @data %>
        ]);

        var options = {
          title: 'Magnesium vs sleep efficiency',
          hAxis: {title: 'Sleep efficiency'},
          vAxis: {title: 'Magnesium', minValue: -0.5, maxValue: 3.5},
          bubble: {textStyle: {fontSize: 11}},
        };

        var chart = new google.visualization.BubbleChart(document.getElementById('chart_div'));
        chart.draw(data, options);




		var data2 = google.visualization.arrayToDataTable([
          <%= @pmf %>
        ]);

        var options2 = {
          title: 'Probability Mass Function',
          hAxis: {title: 'Sleep efficiency'}
        };

        var chart2 = new google.visualization.ColumnChart(document.getElementById('chart_div_pmf'));
        chart2.draw(data2, options2);



		var data3 = google.visualization.arrayToDataTable([
		  <%= @edf %>
		]);

		var options3 = {
		  title: 'Empirical Distribution Function'
		};

	    var chart3 = new google.visualization.LineChart(document.getElementById('chart_div_edf'));
		chart3.draw(data3, options3);
		
		
		
		var data4 = google.visualization.arrayToDataTable([
		  <%= @cdf %>
		]);

		var options4 = {
		  title: 'Continuous Distribution Function'
		};

	    var chart4 = new google.visualization.LineChart(document.getElementById('chart_div_cdf'));
		chart4.draw(data4, options4);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 1000px; height: 600px;"></div>
    <div id="chart_div_pmf" style="width: 900px; height: 500px;"></div>
    <div id="chart_div_edf" style="width: 900px; height: 500px;"></div>
    <div id="chart_div_cdf" style="width: 900px; height: 500px;"></div>

	<h3>Averages</h3>
	<% @stats.each do |stat| %>
		<p><%= stat.label %><br />
			Mean: <%= number_with_precision(stat.mean, :precision => 2) %><br />
			Variance: <%= number_with_precision(stat.variance, :precision => 2) %><br />
			Standard Deviation: <%= number_with_precision(stat.standard_deviation, :precision => 2) %><br />
			Median: <%= number_with_precision(stat.median, :precision => 2) %><br />
			Q1: <%= number_with_precision(stat.q1, :precision => 2) %><br />
			Q2: <%= number_with_precision(stat.q2, :precision => 2) %><br />
			Q3: <%= number_with_precision(stat.q3, :precision => 2) %><br />
			Q4: <%= number_with_precision(stat.q4, :precision => 2) %><br />
			Count: <%= number_with_precision(stat.total_count, :precision => 2) %><br />
			
			vs_Mean: <%= number_with_precision(stat.vs_mean, :precision => 2) %><br />
			vs_Variance: <%= number_with_precision(stat.vs_variance, :precision => 2) %><br />
			vs_Standard Deviation: <%= number_with_precision(stat.vs_standard_deviation, :precision => 2) %><br />
			vs_Median: <%= number_with_precision(stat.vs_median, :precision => 2) %><br />
			vs_Q1: <%= number_with_precision(stat.vs_q1, :precision => 2) %><br />
			vs_Q2: <%= number_with_precision(stat.vs_q2, :precision => 2) %><br />
			vs_Q3: <%= number_with_precision(stat.vs_q3, :precision => 2) %><br />
			vs_Q4: <%= number_with_precision(stat.vs_q4, :precision => 2) %><br />
			vs_Count: <%= number_with_precision(stat.vs_total_count, :precision => 2) %><br />
			
			P-value: <%= number_with_precision(stat.p_value, :precision => 4) %><br />
		</p>
	<% end %>

  </body>
</html>